*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color:rgb(68, 66, 66) ;
overflow-x: hidden;
color: white;
z-index: 1;
}
h1.header,p{
    text-align: center;
    margin: 1rem;

}
div.header{
    margin-bottom: 1rem;
}
#contanier{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#start{
    width: 200px;
    
    padding: .4rem .8rem;
    background-color: rgb(78, 78, 78);
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.174);
}

#start:hover,#start:active,.key:hover{
    background-color: rgba(78, 78, 78, 0.216);
    border: 1px solid rgba(255, 255, 255, 0.36);

}

#canvas{
    width: 100%;
background-color: rgba(255, 255, 255, 0.626);
width: 100vw;
height:min(82vw,30rem);
display: grid;
grid-template-columns: repeat(21,1fr);
grid-template-rows: repeat(21,1fr);
}

#controls div{
position: relative;
left: -32px;
}
.key{
    background-color: rgba(78, 78, 78, 0.216);
    border: 1px solid white;
    color: white;
padding: .5rem;
font-size: 25px;
border-radius: 20px;
width: 50px;
}
#controls div .key{
margin:  0 .2rem ;
}
.snake-div{
    width: 35px;
    height: 35px;
background-color: rgb(143, 143, 26);
border: 3px solid black;
}
.food{
    width: 35px;
    height: 35px;
    background-color: red;
border: 3px solid black;

}


