*{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --backGround:white;
}
html{
scroll-behavior:smooth;
scroll-snap-type: y mandatory;
}
body{
    font-family: sans-serif;
    background: var(--backGround);
    transition: all .5s ease;
}
body::-webkit-scrollbar{
    display: none;
}
a{
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header img{
    max-width: 290px;
}
main{
    width: 100%;
        display: grid;
place-content: center;
}
    div.book{
        display:grid;
        place-content: center;
        justify-items: center;
width: 100%;
height: 100vh;
transition: scroll 0.5s ease-out;
scroll-snap-align: start;



    }
    .bo{
        opacity: 1;
    }
    
div.book img{
max-width: 420px;
}
p{
    font-weight:bold;
    line-height: 25px; font-size: 15px;
}
p.pink{
    color:white;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem 1.5rem;
    position:fixed ;
    width: 100%;
    bottom: 0;
}
div.left{
    display: flex;
    flex-direction: column;
    gap: .5rem
    ;
}
p{
    font-weight: 600;
    max-width: 350px;
}

